
.container{
    width: 1280px;
    margin-left:auto;
    margin-right: auto;
    margin-top:63px;
}

.header-blue-text{
    color:aqua;
}
.header-link{
    text-decoration: none;
    font-size:80px;
    color:black;
}
.header-menu{
    display: flex;
    justify-content: center;
    width: 1283px;
    height: 72px;
    align-items: center;
    padding-left: 0;
    background-color:#35444F;
}
.header-menu-item{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-right: 1px solid white;
    border-left: 1px solid white;
    font-size: 24px;
    padding:0 50px;
    height: 100%;
    color:white;
    background-color:#35444F;
}

.header-menu-item:hover{
    background: #222F3A;
}

.side-bar{
    list-style-type: none;
    width: 344px;
    border: #485863 1px solid;
    padding: 0;
    margin:0;

}
.side-bar-item{
    padding: 25px 50px 25px 44px;
    font-size: 27px;
    color:#485863;
}
.side-bar-item:hover{
    background-color: #DBDBDB;
    padding-left: 75px;
}

.side-bar-image{
    display: flex;
    justify-content: space-between;
}
.image:hover{
    transform: scale(1.2);
    transition: transform 0.25s;
}
.main-content-image{
    padding: 75px 268px 75px 297px;
    border: #35444F 1px solid;
}
.main-content{
    margin-top: 48px;
}
.text{
   width: 885px;
    margin-left: auto;
    margin-bottom: 37px;
    margin-top: 37px;
}
.text1{
    margin-bottom: 34px;
}
.footer-menu{
    display: flex;
    justify-content: center;
}
.footer-menu-item{
    list-style-type: none;
   margin-left: 40px;
    font-size: 28px;
    font-weight: 400;
    padding-top: 5px;
}
.footer-menu-item:hover{
    color: #3181A6;
    border-bottom: #3181A6 1px solid;
}
.footer{
    width: 1280px;
    height: 69px;
    background-color: #63696E7A;
    display: flex;
    justify-content: space-between;
    margin: 54px 0px 30px 0px;
}
.footer-copyright{
    font-size: 24px;
    padding-right: 40px;
    padding-left: 115px;
}
